<!doctype html>
{% match meta.lang %}
    {% when Some with (lang) %} <html lang="{{ lang }}">
    {% when None %} <html lang="en-US">
{% endmatch %}
<head>
    <meta charset="utf-8" />
    <title>{{ meta.title|e("html") }}</title>
    <meta property="og:title" content="{{ meta.title|e("html") }}" />

    {% match meta.desc %}
        {% when Some with (desc) %}
            <meta name="description" content="{{ desc|e("html") }}" />
            <meta property="og:description" content="{{ desc|e("html") }}" />
        {% when None %}
    {% endmatch %}
    <style>
    {{ styles }}
    </style>
</head>
{{ header }}
<body>
    <h1><sup class="title">{{ meta.date }}</sup>{{ meta.title|e("html") }}</h1>
    <hr />
    

    {{ markdown }}
</body>
</html>
