:root {
    --purple1: #dc8add;
    --purple2: #c061cb;
    --blue3: #3584e4;
    --blue4: #1c71d8;

    --background-color: #181818;
    --foreground-color: rgb(241, 241, 241);

    --font-family: Iosevka, Noto Sans, sans-serif;
    --content-width: 42rem;

    width: 100%;
    font-size: 20px;
    font-family: var(--font-family);
}


header {
    float: right;
    overflow: hidden;
    padding 0.4rem 0.4rem;
}

header a {
    float: left;
    color: var(--foreground-color);
    text-align: center;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.4rem 0.6rem;
    text-decoration: none;
    border-radius: .64rem;

    text-transform: capitalize;
}

header a:hover {
    background-color: var(--blue4);
    transition: background-color 80ms;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: max(calc(50% - var(--content-width) / 2), 0%);
    right: max(calc(50% - var(--content-width) / 2), 0%);
    /*background: #181818;
    color: #f1f1f1;*/
    
    background: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-family);
}

a.index-item {
    color: var(--foreground-color);
}

a.index-item:visited {
    color: var(--purple1);
}

ol#index {
  list-style-type: none;
}

sup.title {
    opacity: 0.8;
    font-size: 0.6em;
    padding-right: 0.3em;
}
