:root {
    --purple1: #dc8add;
    --purple2: #c061cb;
    --blue2: #62a0ea;
    --blue3: #3584e4;
    --blue4: #1c71d8;

    --background-color: #181818;
    --foreground-color: rgb(241, 241, 241);

    --font-family: 'Open Sans', 'Noto Sans', sans-serif;
    --font-size: 14pt;
    --code-font-family: 'Iosevka', 'JetBrains Mono', 'Fira Code', monospace;
    --cooe-font-size: calc(var(--font-size) * 0.8);
    --header-font-family: 'Noto Serif', 'Pt Serif', serif;

    --content-width: 48rem;

    width: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family);
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: max(calc(50% - var(--content-width) / 2), 0%);
    right: max(calc(50% - var(--content-width) / 2), 0%);
    /*background: #181818;
    color: #f1f1f1;*/
    
    background: var(--background-color);
    color: var(--foreground-color);
    font-family: var(--font-family);
}

math {
    display: block;
    font-size: calc(var(--font-size) * 1.25);
}

pre {
    padding: 1em;
    overflow-x: scroll;
    font-size: var(--code-font-size);
}
code {
    padding: 0.2em;
}

pre, code {
    font-family: var(--code-font-family);
    font-size: var(--code-font-size);
    border-radius: 0.1em;
}


header {
    float: right;
    overflow: hidden;
    padding 0.4rem 0.4rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--header-font-family);
}

a {
    color: var(--blue2);
    text-decoration: underline;
}

a:visited {
    color: var(--blue2);
    text-decoration: underline;
}
header a {
    float: left;
    color: var(--foreground-color) !important;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0.4rem 0.6rem;
    text-decoration: none;
    border-radius: .64rem;

    text-transform: capitalize;
}

header a:hover {
    color: var(--foreground-color) !important;
    background-color: var(--blue4);
    transition: background-color 80ms;
}
ol#index {
  list-style-type: none;
}

sup.title {
    opacity: 0.8;
    font-size: 0.6em;
    padding-right: 0.3em;
}
